{% extends 'base.html' %}
{% block pagetitle %}
Service
{% endblock pagetitle %}
{% block body %}

<!DOCTYPE html>
<html lang="ml">
<head>
	<meta charset="UTF-8">
	
	<link rel="stylesheet" type="text/css" href="service.css">
</head>
<body>
	   
    
	<table>
		<thead>
			<tr>
				<th>നം</th>
				<th>സേവനത്തിന്‍റെ തരം</th>
				<th>സേവനം</th>
				<th>സമയ പരിമിതി</th>
				<th>ലിങ്കുകൾ</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>കാർഷികോപദേശങ്ങൾ</td>
				<td>സാങ്കേതികമായ പ്രശ്നപരിഹാരത്തിനുള്ള കൃഷി സ്ഥല സന്ദർശനം</td>
				<td> 5 ദിവസം</td>
				<td><a href="http://krishi.info/contact">http://krishi.info/contact</a></td>
			</tr>
			<tr>
				<td>2</td>
				<td>കാർഷികോപദേശങ്ങൾ</td>
				<td>രൂക്ഷമായി പൊട്ടിപ്പുറപ്പെടുന്ന കീടരോഗാക്രമണത്തിനുള്ള ഉപദേശ സേവനം</td>
				<td> 8  മണിക്കൂർ</td>
				<td><a href="http://www.cpsskerala.in">http://www.cpsskerala.in</a></td>
			</tr>
			<tr>
				<td>3</td>
				<td>കാർഷിക സഹായ സേവനങ്ങൾ</td>
				<td>തിരഞ്ഞെടുത്ത ബ്ലോക്കുകളിൽ പുതുതായി സ്ഥാപിക്കുന്ന അഗ്രോ സർവീസ് സെൻറ്ററുകൾ മുഖേന ലഭ്യമാകുന്ന കാർഷിക യന്ത്രങ്ങളുടെ സേവനം</td>
				<td> 3 ദിവസം</td>
				<td><a href="https://asha.kerala.gov.in/">https://asha.kerala.gov.in/</a></td>
			</tr>
			<tr>
				<td>4</td>
				<td>മണ്ണ് പരിശോധന ലാബുകൾ</td>
				<td>കർഷകർ മണ്ണുസാമ്പിളുകൾ നേരിട്ട് പരിശോധനക്ക് മണ്ണു പരിശോധനാ ലാബുകളിൽ നൽകുമ്പോൾ</td>
				<td> 7 ദിവസം</td>
				<td><a href="https://soilhealth.dac.gov.in//">https://soilhealth.dac.gov.in/</a></td>
			</tr>
			<tr>
				<td>5</td>
				<td>ഉത്പാദനോപാധികളുടെ ലഭ്യത</td>
				<td>ഉത്പാദനോപാധികളുടെ ലഭ്യത</td>
				<td> 30 ദിവസം</td>
				<td><a href="https://keralaagriculture.gov.in/seed-testing-facilities/">https://keralaagriculture.gov.in/seed-testing-facilities/</a></td>
			</tr>
			</tbody>
			</table>
				</style>
			</body>
			</html>